.git
.gitignore
*.nemo
*.onnx
*.pt
*.bin
*.wav
*.mp3
__pycache__
*.pyc
.venv
venv
env
.env
*.egg-info
dist
build
.DS_Store
.ipynb_checkpoints
exploratory
.ruff_cache
.pytest_cache
data/
experiments/
examples/
applications/
docs/
prompts/
scripts/
docker-compose.yml
CONTRIBUTING.md
CHANGELOG.md
DEVELOPMENT.md
LICENCE
