fastapi
uvicorn
flask
openai==1.35.3
autoawq==0.2.6
librosa
pyyaml
pandas
gtts    
TTS==0.22
requests
Flask-Cors
deepgram-sdk==2.12.0
sentence-transformers==3.0.1
faiss-gpu==1.7.2
pydub
duckduckgo_search
piper-phonemize~=1.1.0
sentencepiece~=0.1.99
onnxruntime==1.12
pymupdf