fastapi
uvicorn
flask
openai==1.35.3
autoawq
librosa
pyyaml
pandas
gtts    
TTS==0.22
requests
Flask-Cors
deepgram-sdk==2.12.0
langchain-community==0.2.5
sentence-transformers==3.0.1
faiss-gpu==1.7.2
unstructured[all]==0.14.7
unstructured[pdf]==0.14.7
pydub
langchain-huggingface==0.0.3
langchain-openai==0.1.9
duckduckgo_search
piper-phonemize~=1.1.0
nemo_text_processing
sentencepiece~=0.1.99
