beautifulsoup4
docx
EbookLib
google_api_python_client
google_auth_oauthlib
googlesearch_python
numpy
odfpy
openai
protobuf
psutil
pydub
PyPDF2
python_docx
python_pptx
requests
scipy
selenium
spotipy
striprtf
twilio
